@import '../../assets/css/mixin';
@import '../../assets/css/variable';

.Dropdown {
    position: relative;
}

.DropdownBtn {
    width: 30px;
    height: 30px;
    @include center ;
    cursor: pointer;
    position: relative; 
    z-index: 3;

    &.right {
        margin-left: auto;
    }
}

.DropdownUl {
    position: absolute;
    background-color: #fff;
    top: 2em;
    list-style: none;
    padding: 0.5em;
    margin: 0;
    box-shadow:  $box-shadow3;
    border-radius: .7em;
    z-index: 4;

    &.right {
        left: 0;
    }
    &.left {
        right:  0;
    }

}

.DropdownItem {
    white-space: nowrap;
    padding: 0.5em;
    transition: background .3s ease;
    border-radius: .3em;
    text-align: left;
    font-size: .9rem;
    display: flex;
    align-items: center;

    svg {
        margin-right: 0.5em;
    }

    &:hover {
        background-color: $light;
    }
}

.dark {
    svg {
        color: #fff;
    }
}