@import '../../assets/css/variable';
@import '../../assets/css/mixin';

.conversation {
    width: 100%;
    height: 100vh;
    background-color: $white-smok;
    overflow: hidden;

    &::-webkit-scrollbar {
        width: 5px;
    }

    &.dark {
        background-color: $dark-lv4;

        .friendCover {
            background-color: $dark-lv3;
            color: #fff;
            border-bottom: 1px solid $light-lv1;
        }

        .chatForm {
            background-color: $dark-lv3;
            border-top: 1px solid $light-lv1;

            textarea {
                background-color: $dark-lv3;
                border: 1px solid $light-lv1;
            }
        }
    }

}

.chatContainer {
    width: 100%;
    height: calc(100vh - 170px);
    overflow-y: auto;

    &::-webkit-scrollbar {
        width: 50px;
    }
}

.chatForm {
    position: sticky;
    bottom: 0;
    width: 100%;
    height: 100px;
    background-color: #fff;
    border-top: 1px solid $gray;
    padding: 1em calc(40px + 2em);

    textarea {
        width: 100%;
        resize: none;
        padding: 1em;
        border-radius: 7px;
        font-family: sans-serif;
        border: 1px solid $gray;
        padding-bottom: 2em;
        position: relative;

        &:focus {
            outline: 2px solid $primary-color;
        }
    }
}

.sendBtn {
    position: absolute;
    right: 5em;
    bottom: 1em;
    cursor: pointer;

    svg {
        font-size: 3rem;
        color: $primary-color;
    }
}

.friendCover {
    border-bottom: 1px solid $gray;
    background-color: #fff;
    height: 70px;
    position: sticky;
    top: 0;
    display: flex;
    justify-content: space-between;
    padding: 0 1em;

    div {
        display: flex;
        align-items: center;

        svg {
            cursor: pointer;
            font-size: 1.2em;
        }
    }

    .des {
        display: flex;
        flex-direction: column;

        small {
            font-size: 0.8rem;
            padding-top: 0.4em;
        }
    }

    .avatar {
        @include avatar(40px);
    }
}