@import '../../../assets/css/variable';
@import '../../../assets/css/mixin';

.btn {
    padding: 0.4em 1em;
    border-radius: 0.4em;
    cursor: pointer;
    transition: 0.6s;
    background-color: #f1f1f1;
    border: none;
    outline: none;
    @include center;

    &:hover {
        opacity: 0.9;
    }

    &.sm {
        padding: 0em;
    }

    &.lg {
        padding: 1em;
    }

    &.xl {
        padding: 1.2em;
    }
}

.primary {
    background-color: $primary-color;
    color: #fff;
}

.btnDark {
    background-color: $black;
    color: #fff;
}

.btnDanger {
    background-color: $red-light;
    color: #fff;
}

.fluid {
    width: 100%;
    text-align: center;
}