@import '../../../assets/css/variable';

.FromInput {
    >input {
        width: 100%;
        padding: 1em;
        border-radius: 0.4em;
        border: 1px solid $gray;
        font-size: 0.9rem;
        margin-bottom: 0.5em;

        &:focus {
            outline: 1px solid $primary-color;
        }

    }

    small {
        color: $red-light;
        margin: 0.5em 0;
    }

    >label {
        padding: 0.5em 0;
        display: block;
    }
}

.dark {
    >input { 
        background-color: $dark-lv4; 
        color: #fff;
    }
}