@import '../../assets/css/variable';
@import '../../assets/css/mixin';

.mobileNav {
    display: none;
    position: relative;
    
    h3 {
        margin: 0;    
    }

    a {
        color: #000;
    }
    
    @include maxWitdh(768px) {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 1em;
    }
}

.dark {
    a {
        color: #fff;
    }
}