.chatForm {
  position: -webkit-sticky;
  position: sticky;
  height: 50px;
  margin: 1em calc(40px + 1em);
  z-index: 2;
}

.chatForm.isReplyChat {
  height: 100px;
  bottom: 1em;
}

.chatForm.isReplyChat .replyChat {
  position: absolute;
  background-color: #f6f7fb;
  width: 100%;
  height: 40px;
}

.chatForm.isReplyChat .replyChat div {
  font-size: 0.8rem;
  padding: 1em;
  background-color: #a29bfe;
  border-radius: .3em;
  color: #fff;
  width: 100%;
  position: absolute;
  bottom: 0;
}

.chatForm.isReplyChat .replyChat div b {
  display: block;
}

.chatForm.isReplyChat .replyChat div p {
  line-height: 2;
  margin: 1em;
  padding-left: 1em;
  margin-left: 0.5em;
  border-left: 2px solid #fff;
}

.chatForm.isReplyChat .replyChat div > button {
  right: 0em;
  top: -2.5em;
  position: absolute;
}

.chatForm.isReplyChat textarea {
  height: 50%;
  margin-top: 50px;
}

.chatForm.isReplyChat .sendBtn, .chatForm.isReplyChat .emote {
  margin-top: 50px;
}

.chatForm > small {
  left: 0;
  top: -20px;
  position: absolute;
  padding: 0.5em;
  background-color: #fff;
  -webkit-box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
          box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  -webkit-transition: 0.3s ease-in;
  transition: 0.3s ease-in;
  opacity: 0;
  color: #000;
}

.chatForm textarea {
  width: 100%;
  height: 100%;
  resize: none;
  padding: 1em;
  padding-right: 80px;
  font-family: 'Montserrat', sans-serif;
  border-radius: .7em;
  border: 1px solid #d1d1d1;
  padding-top: 1.2em;
}

.chatForm textarea:focus {
  border-radius: .7em;
  outline: none;
  border: 1px solid #a29bfe;
}

.chatForm textarea:focus + small {
  opacity: 1;
  top: -40px;
}

.chatForm textarea::-webkit-scrollbar {
  width: 5px;
}

.chatForm.isEditChat .btnClose {
  position: absolute;
  right: 0;
  top: -3em;
  padding: 0.4em 1em;
  border-radius: 0.4em;
  cursor: pointer;
  -webkit-transition: 0.6s;
  transition: 0.6s;
  border: none;
  outline: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #ff7675;
  color: #fff;
}

.chatForm.isEditChat .btnClose:hover {
  opacity: 0.9;
}

@media screen and (max-width: 768px) {
  .chatForm {
    margin: 0 1em;
  }
}

.renderPiker {
  position: absolute;
  bottom: 5em;
  right: 0;
}

.sendBtn {
  position: absolute;
  right: 7px;
  top: 7px;
  background-color: #a29bfe;
  width: 35px;
  height: 35px;
  border-radius: .6em;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.sendBtn svg {
  font-size: 2rem;
  color: #fff;
}

.emote {
  position: absolute;
  right: 47px;
  top: 7px;
  width: 35px;
  height: 35px;
  border-radius: .6em;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.emote svg {
  font-size: 1.2rem;
}

.dark {
  color: #fff;
}

.dark textarea {
  background-color: #292c43;
  color: #fff;
}

.dark textarea:focus {
  border-radius: .7em;
  border: 1px solid #a29bfe;
}

.dark textarea small {
  color: red;
}

.dark.replyChat {
  background-color: #292c43 !important;
}
/*# sourceMappingURL=ChatForm.module.css.map */