@import '../../assets/css/variable';
@import '../../assets/css/mixin'; 

.reaction {
    position: relative;
    display: flex;
    // justify-content: flex-end;
}

.reactBtn {
    width: 30px;
    height: 30px;
    position: absolute;
    right: 0;
    color: #000;
    @include center;
}

.reacts {
    position: absolute;
    width: 200px;
    height: 30px;
    box-shadow: $box-shadow3;
    background-color: #fff;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: .7em;
    // bottom: -3.5em;
    z-index: 2;

    &.floatRight {
        right: 2.2em;
    }

    &.floatLeft {
        left: 2.2em;
    }

    span {
        @include center;
        width: 20px;
        height: 20px;
        cursor: pointer;
    }

    img {
        min-width: 100%;
    }
 
    &::after {
        content: '';
        position: absolute;
        height: 1em;
        width: 100%;
        background-color: transparent;
        right: 0;
        top: -.7em;
    }
    
}

.showReaction {
    // width: 20px;
    // height: 20px;
    display: flex;
    align-items: center;
    // justify-content: space-between;
    position: relative;

    img {
        max-width: 15px;
   
        &:hover ~ .ulReaction {
            display: block;
        }
    }

    small {
        padding: 0 0.5em;
        &:hover ~ .ulReaction {
            display: block;
        }
    }

}

.ulReaction {
    list-style: none;
    background-color: #fff;
    position: absolute;
    padding-left: 0;
    width: max-content;
    padding: 0.5em;
    top: 0.5em;
    z-index: 3;
    display: none;
    color: #000;
    font-size: 0.8rem;
    li {
        margin: 0.25em 0;
    }
}