.contactContainer {
  width: 100%;
  height: 100vh;
  overflow-y: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #fff;
}

@media screen and (max-width: 1230px) {
  .contactContainer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.sideBar {
  min-width: 300px;
  display: block;
}

.sideBar > img {
  margin-top: 3em;
  width: 250px;
  text-align: center;
  margin-left: 25px;
}

.sideBar p {
  text-align: center;
}

@media screen and (max-width: 1230px) {
  .sideBar p, .sideBar > img {
    display: none;
  }
}

.contact {
  width: 100%;
  border-left: 1px solid #d1d1d1;
}

.contact .heading {
  height: 70px;
  padding: 1em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #fff;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  border-bottom: 1px solid #d1d1d1;
}

.contact .heading h3 {
  margin: 0;
}

.contact .main {
  background-color: #f6f7fb;
  padding: 1em;
  height: calc(100vh - 70px);
  overflow-y: scroll;
}

.contact .main::-webkit-scrollbar {
  width: 5px;
}

.contact .main:hover::-webkit-scrollbar {
  border-radius: 0.8em;
  width: 5px;
}

.contact .main::-webkit-scrollbar-thumb {
  border-radius: 0.5em;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.contact .main:hover::-webkit-scrollbar-thumb {
  background: #f1f1f1;
}

@media screen and (max-width: 1230px) {
  .contact {
    border-left: none;
  }
  .contact .heading {
    display: none;
  }
}

.tabs {
  list-style: none;
  padding-left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-bottom: 1em;
  border-bottom: 1px solid #d1d1d1;
}

.tabs li {
  cursor: pointer;
  margin-right: 1em;
  padding: 0.5em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  font-size: 0.9rem;
}

.tabs li span {
  font-size: 0.8rem;
  background-color: #ff7675;
  color: #fff;
  width: 20px;
  height: 20px;
  margin-left: 1em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.tabs li.active {
  color: #6c5ce7;
}

.tabs li.active::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 3px;
  background-color: #6c5ce7;
  bottom: calc( -1em - 2px);
  left: 0;
}

@media screen and (max-width: 768px) {
  .tabs {
    display: none;
  }
}

.select {
  margin-bottom: 1em;
  display: none;
}

@media screen and (max-width: 768px) {
  .select {
    display: block;
  }
}

.dark {
  background-color: #292c43;
  border-left: none;
}

.dark .sideBar {
  color: #a29bfe;
}

.dark .heading {
  border-bottom: none;
  background-color: #292c43;
  color: #fff;
}

.dark .tabs li {
  color: #fff;
}

.dark .tabs li.active {
  color: #a29bfe;
}

.dark .contact {
  border-left: 1px solid #292c43;
}

.dark .main {
  background-color: #2f334d;
}
/*# sourceMappingURL=Contact.module.css.map */