@import '../../assets/css/variable';
@import '../../assets/css/mixin';

.conversation {
    width: 100%;
    height: 100vh;
    background-color: $white-smok;
    overflow: hidden;

    &::-webkit-scrollbar {
        width: 5px;
    }

    &.dark {
        background-color: $dark-lv4;

        .friendCover {
            background-color: $dark-lv3;
            color: #fff;
            border-bottom: 1px solid $light-lv1;
        }

        .mobileViewCover {
            background-color: $dark-lv4;
            color: #fff;
        }
    }

    @include maxWitdh(768px) {
        position: fixed;
        top: 70px;
        width: 100%;
    }

}

.chatContainer {
    width: 100%;
    height: calc(100vh - 150px);
    overflow-y: auto;

    &::-webkit-scrollbar {
        width: 5px;
    }

    @include maxWitdh(768px) {
        padding-bottom: 100px;
    }
}

.mobileViewCover {
    display: none;

    @include maxWitdh(768px) {
        display: flex;
        height: 50px;
        width: 100%;
        background-color: #fff;
        border-bottom: 1px solid $gray;
        justify-content: space-between;
        align-items: center;
        cursor: pointer;
    }

    .goBackBtn,
    div:last-of-type {
        width: 50px;
        height: 50px;
        @include center;
    }

}



.friendCover {
    border-bottom: 1px solid $gray;
    background-color: #fff;
    height: 70px;
    position: sticky;
    top: 0;
    display: flex;
    justify-content: space-between;
    padding: 0 1em;

    div {
        display: flex;
        align-items: center;

        svg {
            cursor: pointer;
            font-size: 1.2em;
        }
    }

    .des {
        display: flex;
        flex-direction: column;

        small {
            font-size: 0.8rem;
            padding-top: 0.4em;
        }
    }

    .avatar {
        @include avatar(40px);
    }

    @include maxWitdh(768px) {
        display: none;
    }
}