.conversation {
  width: 100%;
  height: 100vh;
  background-color: #f6f7fb;
  overflow: hidden;
  border-left: 1px solid #d1d1d1;
  border-right: 1px solid #d1d1d1;
}

.conversation::-webkit-scrollbar {
  width: 5px;
}

@media screen and (max-width: 768px) {
  .conversation {
    position: fixed;
    width: 100%;
  }
}

.notifyMsg {
  text-align: center;
  max-width: 80%;
  font-size: 0.8rem;
  position: relative;
  padding: 1em 0;
  margin-left: 10%;
  line-height: 1.5em;
}

.notifyMsg p {
  background-color: #f6f7fb;
  z-index: 2;
  margin: 0;
}

@media screen and (max-width: 375px) {
  .notifyMsg {
    font-size: 0.7rem;
  }
}

.chatContainer {
  width: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  height: calc(100vh - 150px);
  min-height: -webkit-fill-available;
  padding-top: 6em;
}

.chatContainer::-webkit-scrollbar {
  width: 5px;
}

.chatContainer:hover::-webkit-scrollbar {
  border-radius: 0.8em;
  width: 5px;
}

.chatContainer::-webkit-scrollbar-thumb {
  background: transparent;
  border-radius: 0.5em;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.chatContainer:hover::-webkit-scrollbar-thumb {
  background: #cfcfcf;
}

@media screen and (max-width: 768px) {
  .chatContainer {
    padding-top: 60px;
    height: calc(100vh - 70px);
  }
}

.blockBottom {
  height: 80px;
  background-color: transparent;
}

.mobileViewCover {
  display: none;
}

.mobileViewCover b {
  color: #6c5ce7;
}

@media screen and (max-width: 768px) {
  .mobileViewCover {
    position: fixed;
    top: 0;
    left: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 50px;
    width: 100%;
    background-color: #fff;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    cursor: pointer;
    z-index: 6;
    border-bottom: 1px solid #d1d1d1;
  }
  .mobileViewCover b {
    font-size: .8rem;
  }
}

.mobileViewCover .goBackBtn {
  width: 50px;
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.mobileViewCover > div:nth-child(3) {
  margin-left: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.mobileViewCover > div:last-child {
  padding-right: 1em;
}

.mobileViewCover .mobileDes {
  max-width: 170px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.cover {
  border-bottom: 1px solid #d1d1d1;
  background-color: #fff;
  height: 70px;
  position: fixed;
  top: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 1em;
  z-index: 6;
  width: calc(100% - 420px);
}

.cover > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.cover > div > svg {
  cursor: pointer;
  font-size: 1.2em;
}

.cover .des {
  margin-left: 1em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  cursor: pointer;
}

.cover .des small {
  font-size: 0.8rem;
  padding-top: 0.4em;
}

.cover b {
  color: #6c5ce7;
}

@media screen and (max-width: 768px) {
  .cover {
    display: none;
  }
}

.dark {
  background-color: #292c43;
  border-left: 1px solid #585c76;
  border-right: 1px solid #585c76;
}

.dark b {
  color: white;
}

.dark .cover {
  background-color: #2f334d;
  color: #fff;
  border-bottom: 1px solid #585c76;
}

.dark .notifyMsg p {
  background-color: transparent;
  color: #585c76;
}

.dark .mobileViewCover {
  background-color: #2f334d;
  color: #fff;
  border-bottom: 1px solid #585c76;
}
/*# sourceMappingURL=Chats.module.css.map */