// Color
$primary-color: #a29bfe;
$primary-colorDark: #6c5ce7;
$red-light: #ff7675;
$gray: #d1d1d1;
$black-light : #34495e;
$black : #313443;
$gray-light: #f1f1f1;
$light: #f6f7fb;
$white-smok: #f6f7fb;
$green :#2ecc71;
$dark-lv1: #57606f;
$dark-lv2: #2f3542;
$dark-lv3: #2f334d;
$dark-lv4: #292c43;
$light-lv1: #585c76;


// Shadow
$box-shadow1: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px; // darker
$box-shadow2: rgba(149, 157, 165, 0.2) 0px 8px 24px; // lightr
$box-shadow3: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px,
rgba(0, 0, 0, 0.06) 0px 1px 2px 0px; // tailwind