@import '../../assets/css/variable';
@import '../../assets/css/mixin';

.contact {
    width: 300px;
    height: 100vh;
    background-color: #fff;
    border-right: 1px solid $gray;

    &.dark {
        background-color: $dark-lv4;
        border-right: 1px solid $light-lv1;

        .heading {
            background-color: $dark-lv4;
            color: white;
            border-right: 1px solid $light-lv1;

            input {
                background-color: $dark-lv3;

                &:focus {
                    outline: 2px solid $light-lv1;
                }
            }
        }

        .messages {
            &::-webkit-scrollbar {
                width: 0px;
            }
        }
    }
}


.heading {
    background-color: #fff;
    left: 70px;
    top: 0;
    width: 300px;
    height: 120px;
    padding: 1em;
    position: sticky;
    border-right: 1px solid $gray;

    p {
        font-weight: bold;
    }

    input {
        border-radius: 0.4em;
        min-width: 100%;
        padding: 0.7em;
        outline: none;
        border: none;
        background-color: #f1f1f1;
    }

}

.messages {
    width: 100%;
    height: 80vh;
    overflow-y: auto;
    box-sizing: border-box;
    background-color: #fff;


    &>small {
        display: block;
        padding: 1em;
    }

    @include scrollBarDefault();

}

.messagesItem {
    height: 70px;
    padding: 0 1em;
    display: flex;
    align-items: center;
    margin: 0.5em 0;
    cursor: pointer;
    transition: .5s;
    border-left: 2px solid transparent;


    &.active,
    &:hover {
        background-color: $light;
        border-left: 2px solid $primary-color;
    }

    .avatar {
        @include avatar(40px);
    }

    p {
        margin: 0.5em 0;
        font-size: 0.9rem;
    }

    span:last-of-type {
        margin-left: auto;
        position: relative;

        small {
            font-size: 0.7rem;
            color: gray;
        }

        // chip
        p {
            font-size: 0.7rem;
            width: 15px;
            height: 15px;
            color: #fff;
            border-radius: 50%;
            @include center;
            background-color: $red-light;
            margin-left: auto;
        }
    }
}


.messages.dark {
    background-color: $dark-lv4;
    color: white;
}