@import '../../assets/css/mixin';
@import '../../assets/css/variable';

.FriendListContainer {
    min-width: 300px;
    height: 100vh;
    border-right: 1px solid $gray;
    overflow-y: scroll;

    h3 {
        position: sticky;
        top: 0;
        padding: 0 1em;
    }

    &>p {
        margin-left: 1em
    }

    @include scrollBarDefault;
}

.FriendItem {
    display: flex;
    align-items: center;
    margin: 0.5em 0;
    transition: .5s;
    padding: 1em;
    cursor: pointer;
    border-left: 2px solid transparent;

    div:nth-child(2) {
        display: flex;
        flex-direction: column;
    }

    &:hover {
        background-color: $light;
        border-left: 2px solid $primary-color;
    }

    a {
        color: $primary-color;
    }

    button {
        margin-left: auto;
    }
    
}

.avatar {
    @include avatar(35px)
}