@import '../../assets/css/variable';
@import '../../assets/css/mixin';

.hr {
    width: 40%;
    margin-left: 30%;
    margin-top: 1em;
    margin-bottom: 1em;
    height: 1px;
    background-color: $gray;
}

.navBar {
    min-width: 70px;
    height: 100vh;
    position: fixed;
    padding: 1em 0;
    z-index: 999;
    background-color: #fff;
    border-right: 1px solid $gray;

    // active class write in globle.css

    a {
        padding: 1em 0;
        position: relative;
        width: 100%;
        @include center;

        svg {
            transition: 0.5s;
        }

        &:hover svg {
            color: $primary-color;
        }

        &:hover p {
            opacity: 1;
            visibility: visible;
        }

        p {
            visibility: hidden;
            opacity: 0;
            transition: .2s linear;
            background-color: #fff;
            padding: 0.4em 0.6em;
            box-shadow: $box-shadow2;
            position: absolute;
            border-radius: 00.4em;
            right: -60px;
            top: -10px;
        }

        // Chip
        span {
            @include center;
            top: 0;
            border-radius: 50%;
            right: 10px;
            text-align: center;
            color: white;
            font-size: 0.7rem;
            min-width: 20px;
            height: 20px;
            background-color: $red-light;
            position: absolute;
        }
    }

    &.dark {
        border-right: 1px solid transparent;

        background-color: $dark-lv3;

        a {
            color: $light-lv1;
        }

        p {
            color: #000;
        }

        .hr {
            background-color: $light-lv1;
        }

        .btn_plus {
            svg {
                color: $light-lv1;
            }
        }
    }
}

.avatar {
    padding: 1em;
    cursor: pointer;
    margin-bottom: 70px;
    width: 70px;

    img {
        border: 1px solid $gray;
        border-radius: 50%;
        width: 100%;
    }
}



.btn_plus {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    @include center;
    cursor: pointer;
    margin: 2em 1.2em;
    transition: opacity .5s;
    background-color: $primary-color;

    &:hover {
        opacity: .9;
    }

    svg {
        color: #fff;
    }
}

.checkBox {
    margin-top: 100px;
    width: 45px;
    height: 20px;
    appearance: none;
    transition: .5s;
    border-radius: 15px;
    position: relative;
    box-shadow: $box-shadow1;
    cursor: pointer;
    margin-left: 10px;
    transform: rotate(90deg);
    background-color: $primary-color;

    &::before {
        content: "";
        position: absolute;
        background-color: rgb(241, 241, 241);
        width: 16px;
        height: 16px;
        left: 2px;
        top: 2px;
        transition: .5s;
        border-radius: 50%;
    }

    &:checked {
        background-color: $light-lv1;
    }

    &:checked::before {
        left: 27px;
        background-color: $primary-color;
    }
}