.hr {
  width: 40%;
  margin-left: 30%;
  margin-top: 1em;
  margin-bottom: 1em;
  height: 1px;
  background-color: #d1d1d1;
}

.navBar {
  min-width: 70px;
  height: 100vh;
  position: fixed;
  padding: 1em 0;
  padding-top: 100px;
  z-index: 999;
  background-color: #fff;
  border-right: 1px solid #d1d1d1;
}

.navBar a {
  padding: 1em 0;
  position: relative;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navBar a svg {
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.navBar a:hover svg {
  color: #a29bfe;
}

.navBar a:hover p {
  opacity: 1;
  visibility: visible;
}

.navBar a p {
  visibility: hidden;
  opacity: 0;
  -webkit-transition: .2s linear;
  transition: .2s linear;
  background-color: #a29bfe;
  color: #fff;
  padding: 0.4em 0.6em;
  -webkit-box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
          box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
  position: absolute;
  border-radius: 0.4em;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  height: auto;
  left: 60px;
  top: -10px;
}

.navBar a span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  top: 0;
  border-radius: 50%;
  right: 10px;
  text-align: center;
  color: white;
  font-size: 0.7rem;
  min-width: 20px;
  height: 20px;
  background-color: #ff7675;
  position: absolute;
}

.navBar.dark {
  border-right: 1px solid transparent;
  background-color: #2f334d;
}

@media screen and (max-width: 768px) {
  .navBar.dark .mobileView {
    background-color: #2f334d;
    color: #fff;
  }
  .navBar.dark .mobileView p {
    color: #fff;
  }
}

.navBar.dark a {
  color: #585c76;
}

.navBar.dark p {
  color: #000;
}

.navBar.dark .hr {
  background-color: #585c76;
}

.navBar.dark .user {
  background-color: #2f334d;
  color: #fff;
}

.navBar.dark .user:hover {
  background-color: #a29bfe;
}

@media screen and (max-width: 768px) {
  .navBar {
    width: 100%;
    height: 70px;
    background-color: #fff;
    bottom: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 0;
    border-top: 1px solid #d1d1d1;
    border-right: none;
  }
  .navBar p {
    display: none;
  }
  .navBar .hr,
  .navBar .user,
  .navBar .btn_logout,
  .navBar .checkBox {
    display: none;
  }
}

.mobileView {
  display: none;
}

.mobileView > .avatar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.mobileView > .avatar p {
  margin-right: 1em;
}

@media screen and (max-width: 768px) {
  .mobileView {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    height: 70px;
    width: 100%;
    background-color: #fff;
    position: fixed;
    padding: 0 1em;
    top: 0;
    border-bottom: 1px solid #d1d1d1;
  }
}

.user {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  top: 1em;
  width: 69px;
  height: 70px;
  left: 0em;
  -webkit-transition: .3s ease-out;
  transition: .3s ease-out;
  border-radius: .7em;
  cursor: pointer;
  background-color: #fff;
}

.user span {
  width: 200px;
  opacity: 0;
}

.user:hover {
  width: 200px;
  height: 80px;
  left: 0.5em;
  -webkit-box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
          box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
}

.user:hover::before {
  content: "";
  position: absolute;
  width: .5em;
  left: -.5em;
  background-color: transparent;
  height: 80px;
}

.user:hover span {
  opacity: 1;
  position: absolute;
  left: 5em;
}

.user .avatar {
  width: 40px;
  height: 40px;
  background-color: #fff;
  border: 1px solid #f1f1f1;
  margin-right: 1em;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  margin-right: 0;
  margin-left: 1em;
  position: absolute;
}

.user .avatar img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.btn_logout {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  margin: 2em 1.2em;
  -webkit-transition: .5s;
  transition: .5s;
  background-color: #a29bfe;
  position: absolute;
  color: #fff;
}

.btn_logout span {
  display: none;
  opacity: 0;
  -webkit-transition: 1s ease-in-out;
  transition: 1s ease-in-out;
  margin-left: 0.4rem;
  font-size: .9rem;
}

.btn_logout:hover {
  width: 80px;
  border-radius: 0.7em;
  opacity: .9;
  background-color: #ff7675;
}

.btn_logout:hover span {
  display: block;
  opacity: 1;
}

.checkBox {
  margin-top: 100px;
  width: 45px;
  height: 20px;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  -webkit-transition: .5s;
  transition: .5s;
  border-radius: 15px;
  position: relative;
  -webkit-box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
          box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  cursor: pointer;
  margin-left: 10px;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  background-color: #a29bfe;
}

.checkBox::before {
  content: "";
  position: absolute;
  background-color: #f1f1f1;
  width: 16px;
  height: 16px;
  left: 2px;
  top: 2px;
  -webkit-transition: .5s;
  transition: .5s;
  border-radius: 50%;
}

.checkBox:checked {
  background-color: #585c76;
}

.checkBox:checked::before {
  left: 27px;
  background-color: #a29bfe;
}
/*# sourceMappingURL=Navbar.module.css.map */