@import '../../assets/css/variable';
@import '../../assets/css/mixin';

.navBar {
    min-width: 70px;
    height: 100vh;
    position: fixed;
    padding: 1em 0;
    padding-top: 100px;
    z-index: 999;
    // z-index: 7;
    background-color: #fff;
    border-right: 1px solid $gray;

    a.active {
        color: $primary-color;
    }

    // active class 
    &>a {
        padding: 1em 0;
        position: relative;
        width: 100%;
        @include center;

        svg {
            transition: 0.5s;
        }

        &:hover svg {
            color: $primary-color;
        }

        &:hover p {
            opacity: 1;
            visibility: visible;
        }

        // Title of navication
        p {
            visibility: hidden;
            opacity: 0;
            transition: .2s linear;
            background-color: $primary-color;
            color: #fff;
            padding: 0.4em 0.6em;
            box-shadow: $box-shadow3;
            position: absolute;
            border-radius: 0.4em;
            width: max-content;
            height: auto;
            left: 60px;
            top: -10px;
        }

        // Notification
        span {
            @include center;
            top: 0;
            border-radius: 50%;
            right: 10px;
            text-align: center;
            color: white;
            font-size: 0.6rem;
            width: 17px;
            height: 17px;
            background-color: $red-light;
            position: absolute;
        }
    }

    .userMobile {
        display: none;
    }
    

    @include maxWitdh(768px) {
        width: 100%;
        height: 70px;
        background-color: #fff;
        bottom: 0;
        display: flex;
        padding: 0;
        border-top: 1px solid $gray-light;
        border-right: none;

        p {
            display: none;
        }

        &.isHide {
            display: none;
        }
        

        .hr,
        .user,
        .btn_logout,
        .checkBox {
            display: none;
        }

        a.active {
            background-color: $primary-color;
            color: #fff;
            &:hover svg {
                color: #fff;
            }
        }

        .userMobile {
            display: flex;
        }
    }
}




// User div
.user {
    display: flex;
    align-items: center;
    position: absolute;
    top: 1em;
    width: 69px;
    height: 70px;
    left: 0em;
    transition: all .3s ease-out;
    transition-property: opacity, width,height, left;
    border-radius: .7em;
    cursor: pointer;
    background-color: #fff;

    span {
        width: 200px;
        opacity: 0;
        small{
            margin-bottom: 0.5em;
            display: block;
        }
        &>a {
            color: $primary-color;
        }
    }


    &:hover {
        width: 200px;
        height: 80px;
        left: 0.5em;
        box-shadow: $box-shadow4;

        &::before {
            content: "";
            position: absolute;
            width: .5em;
            left: -.5em;
            background-color: transparent;
            height: 80px;
        }
    }

    &:hover span {
        opacity: 1;
        position: absolute;
        left: 5em;
    }
}

// user avatar

.avatar {
    @include avatar(40px);
    margin-right: 0;
    margin-left: 1em;
    position: absolute;
}

// Logout btn
.btn_logout {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    @include center;
    cursor: pointer;
    margin: 2em 1.2em;
    transition: .5s;
    background-color: $primary-color;
    position: absolute;
    color: #fff;

    span {
        display: none;
        opacity: 0;
        transition: 1s ease-in-out;
        margin-left: 0.4rem;
        font-size: .9rem;
    }

    &:hover {
        width: 80px;
        border-radius: 0.7em;
        opacity: .9;
        background-color: $red-light;
    }

    &:hover span {
        display: block;
        opacity: 1;
    }

}

// Toggle theme Btn
.checkBox {
    margin-top: 100px;
    width: 45px;
    height: 20px;
    appearance: none;
    transition: .5s;
    border-radius: 15px;
    position: relative;
    box-shadow: $box-shadow1;
    cursor: pointer;
    margin-left: 10px;
    transform: rotate(90deg);
    background-color: $primary-color;

    &::before {
        content: "";
        position: absolute;
        background-color: rgb(241, 241, 241);
        width: 16px;
        height: 16px;
        left: 2px;
        top: 2px;
        transition: .5s;
        border-radius: 50%;
    }

    &:checked {
        background-color: $light-lv1;
    }

    &:checked::before {
        left: 27px;
        background-color: $primary-color;
    }

    &.checker {
        background-color: $light-lv1;
        &::before {
            left: 27px ;
            background-color: $primary-color;
        }
    }
    &.unChecked {
        background-color: $primary-color;
        &::before {
            left: 2px ;
            background-color: rgb(241, 241, 241);
        }
    }
}

.hr {
    width: 40%;
    margin-left: 30%;
    margin-top: 1em;
    margin-bottom: 1em;
    height: 1px;
    background-color: $gray;
}

// Dark mode 
.dark {
    border-right: 1px solid transparent;
    background-color: $dark-lv3;

    border-top: 1px solid $light-lv1;

    a {
        color: $light-lv1;
    }

    .hr {
        background-color: $light-lv1;
    }

    a.active {
        &:hover svg {
            color: #fff;
        }
    }

    .user {
        background-color: $dark-lv3;
        color: #fff;

        span>a {
            color: #fff;
        }

        &:hover {
            background-color: $primary-color;
        }
    }
}