@import '../../assets/css/variable';
@import '../../assets/css/mixin';

.notHaveChat {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    padding: 1em;
    border-left: 1px solid $gray;

    img {
        max-width: 300px;
        animation-name: run;
        animation-duration: 0.5s;
    }

    
    @keyframes run {
        0% {
            opacity: 0;
        }

        100% {
            opacity: 1;
        }
    }

    .pageDes {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    @include maxWitdh(768px) {
        display: none;

        img {
            width: 100%;
        }

        h1 {
            text-align: center;
        }
    }

}

.dark {
    background-color: $dark-lv3;
    color: #fff;

    border-left: 1px solid $dark-lv3;

}