.modelBox {
  position: fixed;
  z-index: 1001;
  width: 700px;
  max-height: 80vh;
  background-color: white;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  border-radius: .5em;
  overflow-y: auto;
}

.modelBox::-webkit-scrollbar {
  width: 0px;
}

@media screen and (max-width: 1280px) {
  .modelBox {
    max-width: 95%;
  }
}

.modelBox ~ .backdrop {
  z-index: 1008;
}

.modelBox ~ .modelBox {
  width: 600px;
  z-index: 1009;
}

.modelBox ~ .modelBox::-webkit-scrollbar {
  width: 5px;
}

.modelBox ~ .modelBox:hover::-webkit-scrollbar {
  border-radius: 0.8em;
  width: 5px;
}

.modelBox ~ .modelBox::-webkit-scrollbar-thumb {
  border-radius: 0.5em;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.modelBox ~ .modelBox:hover::-webkit-scrollbar-thumb {
  background: #f1f1f1;
}

.modelContainer {
  padding: 1em;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.382);
  z-index: 1000;
}

.modelHeading {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 9;
  background-color: #fff;
  padding: 0.5em 1em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: 1px solid #d1d1d1;
  border-radius: .5em .5em 0 0;
}

.modelHeading .closeBtn {
  background-color: transparent;
  outline: none;
  border: none;
  cursor: pointer;
  font-size: 1.5em;
  padding: 0.3em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: auto;
}

.modelHeading p {
  display: inline-block;
  font-weight: bold;
}

.enter {
  opacity: 0;
  -webkit-transform: translate(-50%, -30%);
          transform: translate(-50%, -30%);
}

.enterActive {
  opacity: 1;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-transition: opacity 200ms ease-in-out, -webkit-transform 200ms ease;
  transition: opacity 200ms ease-in-out, -webkit-transform 200ms ease;
  transition: opacity 200ms ease-in-out, transform 200ms ease;
  transition: opacity 200ms ease-in-out, transform 200ms ease, -webkit-transform 200ms ease;
}

.exit {
  opacity: 1;
}

.exitActive {
  opacity: 0;
  -webkit-transform: translate(-50%, -30%);
          transform: translate(-50%, -30%);
  -webkit-transition: opacity 300ms, -webkit-transform 300ms;
  transition: opacity 300ms, -webkit-transform 300ms;
  transition: opacity 300ms, transform 300ms;
  transition: opacity 300ms, transform 300ms, -webkit-transform 300ms;
}

.dark {
  background-color: #2f334d;
  color: #fff;
}

.dark .modelHeading {
  background-color: #2f334d;
  border-bottom: 1px solid #000;
  color: #fff;
}

.dark .closeBtn {
  color: #fff;
}
/*# sourceMappingURL=Model.module.css.map */